<link href="css/Footer.css" rel="stylesheet" />
<footer class="footer">
    <div class="github-content">
        <a href="https://github.com/dotnetgirls" target="_blank" rel="noopener noreferrer">
            <img src="Image/github-mark.png" alt="GitHub Logo" class="github-logo" />
        </a>
    </div>
    <div class="email-content">
        <a href="mailto:admin@dotnetgirls.org" target="_blank" rel="noopener noreferrer">
            <img src="Image/mail.png" alt="Mail Logo" class="mail-logo" />
        </a>
    </div>
</footer>

@code {

}
