<link href="css/About.css" rel="stylesheet" />


<section id="about">
    @*<h1>What is DotNetGirls?</h1>*@
    <br />
    <h2>Our Mission</h2>
    <p>Onboarding Others</p>
    <br />
    <h2>Our Initiative</h2>
    <p>DotNetGirls provides opportunities for female developers <br />to reach their full potential and grow with .NET technology.</p>
</section>
@code {

}
