<link href="css/Home.css" rel="stylesheet" />
<section id="home">
    <div class="image-container">
        <img src="Image/homeimage1.png" alt="Girls Image" />
        <div class="overlay-text">
            <h1>DotNetGirls</h1>
            <p>DotNetGirls is a non-profit organization to empower women developers.</p>
        </div>
    </div>
</section>

@code {
     
}
