#header {
    display: flex !important;
    justify-content: space-around !important;
    padding: 10px 20px;
    box-sizing: border-box;
    padding-top: 20px;
    font-size: 2.0vw;
    font-family: 'Ronysiswadi';
}
