@page "/"
@using BlazorApp_empty1.Layout
@using BlazorApp_empty1.Components
<link href="css/Index.css" rel="stylesheet" />

<div id="all">
    <Header />
    <Home />
    <hr style="margin-top: 10%;" />
    <About />
    <hr />
    <Contact />
    <Footer/>
</div>
